*, *::before, *::after{
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom:0;
    
  }

  p {margin:0;}
ul {margin:0;}

  
  :root {
    --main-bg-color: coral; 
  }

  li {
    list-style-type: none;
  }
    
   /* HEADER */

header a{
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color:black;
}

.logo {
  width: 80px;
  position: absolute;
  top:10px;
  left:10px;
  
}

.basket {
  width: 40px;
}

.form-control {
  width: 400px!important;
}

.btn-sm {
  padding: .45rem .5rem!important;
}

ul {
  display:flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  position: relative;
  height: 150px;

}


 /* NAVIGATION BAR */

.wrapper{
  width: 90%;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  }



.btn { 
  background-color: var(--main-bg-color);
  }
  
nav { 
 
  display: flex;
  justify-content: space-around;
  padding: 2.5rem;
}


  
   /* BOOK-INFO STYLES */


 .chevron {   
  margin-top: 150px;
  width:38px;
}  


.book-info{
padding:2.5rem;
max-width: 260px;
  }

.book-info img{
  width:100%;
}

.book-info-txt{
  padding: .5rem;

}

.book-info-txt p{

  margin:0;
  font-size:10px;
}

.title {
  font-size:15rem;
  font-weight:bold;
}
.autor{
  color:red;
}


  /* MENU BASE STYLES */
  
header{
  background: rgb(202, 195, 195);
    /* position: relative; */
  width: 100%;
}


  /* FOOTER */
 
  .footer{
    background: rgb(202, 195, 195);

  
  }
.info{

  display:flex;
  justify-content: space-around;
   padding: 3rem; 
   cursor:pointer;
}


.copyright{
  text-align: center;
  font-size: .8rem;
  padding-bottom: 2rem; 
}

.line{
  width: 90%;
  height: 1px;
  background:black;
  margin:0 auto;
}



.section{
  padding:1.7rem;
  font-weight:bold;
  font-size: 1.2rem;
  margin-left:140px;
  
}



  
  








